.field {
    display: flex;
    flex-direction: column;
    flex-basis: 24%;
    margin: 0 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.label {
    font-size: larger;
}

.serviceRequests {
    margin: 0 1.5rem;
    padding: 0.5rem;
}

.request_delete {
    margin: 0.5rem;
    background-color: violet;
    color: white;
}

li:nth-child(even) {
    border: 0.1px solid #ccc;
    background-color: #ccc;
    padding: 1.5px
}

li:nth-child(odd) {
    border: 0.1px solid #fff;
    background-color: #fff;
    padding: 1.5px;
}
/* input[type=input] {

} */

/* .requestSubmits:nth-child(odd) {
    border: 0ch solid white;
    background-color: lightgray;
}

.requestSubmits:nth-child(even) {
    color: gray;

} */

